extends ../layout/index

block header 
  include ../layout/navbar

block formulario
  section.formRegister
    <i class='bx bx-menu menu__toggle' id="menuOpen"></i>
    form(action="/registroProducto" method="POST" class="formRegister__form" id="formProduct")
      input(class='formRegister__input' id="name" name="name" placeholder="Nombre" type="text")
      input(class='formRegister__input' id="price" name="price" placeholder="Precio" type="number")
      input(class='formRegister__input' id="reference" name="reference" placeholder="Referencia" type="text")
      input(class='formRegister__input' id="amount" name="amount" placeholder="Cantidad" type="number")
      textarea(id="description" name="description" placeholder="Descripción" class='formRegister__input') 
      input(class='formRegister__btn' id="guardarProducto" value="Guardar" type="submit")
      section.formRegister__errors
        p.formRegister__p#errors