extends ../layout/index

block formulario
    section(class="successCreated")
        h1.successCreated__h1 Se ha guardo exitosamente 
        a(href="registroCliente" class="successCreated__a") Volver atras