

block header 
    nav.navbar
        <i class='bx bx-x menu__toggle menu__toggle--color' id="menuClose"></i>
        img(src="/static/logo.png" alt="logo" class="navbar__logo")
        ul.navbar__ul 
            li.navbar__li
                a(href="registroCliente" class="navbar__a navbar__a--width") Clientes
            li.navbar__li
                a(href="registroProducto" class="navbar__a") Productos    
        p.navbar__p 